<%= form_with(model: assesment, local: true) do |form| %>
  <% if assesment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(assesment.errors.count, "error") %> prohibited this assesment from being saved:</h2>

      <ul>
      <% assesment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name, id: :assesment_name %>
  </div>

  <div class="field">
    <%= form.label :program %>
    <%= form.number_field :program, id: :assesment_program %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
