<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @assesment.name %>
</p>

<p>
  <strong>Program:</strong>
  <%= @assesment.program %>
</p>

<%= link_to 'Edit', edit_assesment_path(@assesment) %> |
<%= link_to 'Back', assesments_path %>
