<p id="notice"><%= notice %></p>

<h1>Administrations</h1>

<table>
  <thead>
    <tr>
      <th>Faculty</th>
      <th>Program</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @administrations.each do |administration| %>
      <tr>
        <td><%= administration.faculty %></td>
        <td><%= administration.program %></td>
        <td><%= link_to 'Show', administration %></td>
        <td><%= link_to 'Edit', edit_administration_path(administration) %></td>
        <td><%= link_to 'Destroy', administration, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Administration', new_administration_path %>
